<?xml version="1.0"?>
<launch>
  <param name="/use_sim_time" value="true" />
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    <arg name="port" value="9090" />
  </include>
  <node pkg="websocket_server" type="bagfile_player.py" name="run_bagfile" output="screen" />
</launch>